<script src="js/sliderControl.js"></script>

<div>
  <h2>Choose how to spend your time</h2>
  <div class="slideContainer">
  <!--TODO: add sliders for Adventure and Ki training. make adventure hidden until unlock.-->
    <h5>Rest</h5>
    <input type="range" min="0" max="100" value="50" class="slider" id="rest" oninput="setRest(this.value)">
    <span id="restValue"></span>%<br/>
    <h5>Train Body</h5>
    <input type="range" min="0" max="100" value="50" class="slider" id="bodyTraining" oninput="setBT(this.value)">
    <span id="bodyTrainingValue"></span>%<br/>
    <div>Time remaining : <span id="remainingTimeValue"></span>%</div>
  </div>
  <br/>
  <div id="characterData">
    <h5>Derp</h5>
    <div>Body strength : <span id="bodyTrainingStrength"></span></div>
    <div>Body toughness : <span id="bodyTrainingToughness"></span></div><br/>
  </div>
</div>
